* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f7f7f7;
}

.calculator {
    width: 100%;
    max-width: 340px;
    background-color: #464646;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0 auto;
}

.result {
    height: 75px;
    padding: 20px;
    text-align: right;
    color: #fff;
    font-size: 2.5rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.button-zero {
    grid-column: span 2;
}

.bg-gray {
    background-color: #585858;
}

.bg-light-gray {
    background-color: #747474;
}

.bg-orange {
    background-color: #f2a43b;
}

button:active {
    opacity: 0.9;
}