@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Comfortaa:wght@700&family=Inter:wght@700&family=Montserrat:wght@700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  background-color: #FFFDF2;
  color: #1d1c1c;
}

/* From Uiverse.io by vinodjangid07 */ 
.card {
  width: fit-content;
  height: fit-content;
  background-color: #DDD0C8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bg-gradient {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    125% 125% at -2% 101%,

    rgba(147, 104, 141, 1) 15%,
    rgba(178, 128, 162, 1) 17.5%,
    rgba(208, 151, 182, 1) 25%,

    #AABF91 100%
  );
}

.sombra-personalizada {
  text-shadow: 8px 8px 16px rgba(147, 104, 141, 1);
}

html {
  scroll-behavior: smooth;
}